*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body { 
    background-color: rgb(94, 94, 138);
}
.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-transform: uppercase;
    width: 100%;
    color: white;
    font-family: sans-serif;
}
h1 {
    padding: 50px 0 20px;
}
.text {
     display: flex;
    flex-direction: column;
    padding-top: 50px;
}
.button {
    width: 70px;
    height: 30px;
    border-radius: 50%;
    background-color: rgb(186, 153, 216);
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin: 30px 0;
}
.input_data {
    width: 100px;
    height: 30px;
    border-radius: 20px;
}
.input {
    height: 30px;
    /* padding: 0 0 0 20px; */
    /* margin: 0 0 30px 0; */
}
.table {
    text-align: center;
    width: 600px;
    margin: 0 auto;
    background-color: rgb(186, 169, 202);
}
th {
    padding: 20px 30px;
}
.errorVardas, .errorPavarde, .errorGimimoData {
    color: red;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.hide {
    display: none;
}
.del {
    cursor: pointer;
    border: 2px solid black;
    width: 50px;
    background-color: rgb(174, 124, 220);
    margin: 0 auto;
}
